<?xml version="1.0" encoding="UTF-8"?>
<beans 
        xmlns="http://www.springframework.org/schema/beans" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="
                http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">
        
        <context:annotation-config/>
        
        <bean id="bar" class="com.mike.Bar" />
        <bean id="bar2" class="com.mike.Bar" />

        <bean id="bar3" class="com.mike.Bar">
           <qualifier value="default"/> 
        </bean>


        <bean id="aParent1" class="com.mike.Parent1">
                <property name="BarDI_interface" ref="bar"/>
        </bean>

        <bean id="aParent2" class="com.mike.Parent2" />

        <bean id="aParent3" class="com.mike.Parent3"/>
        
</beans>